@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap");

:root {
  --main-bg-color: rgb(19, 20, 20);
  --secondary-bg-color: rgb(31, 30, 30);
  --dark-blue: rgb(0, 51, 95);
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
}

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--white);
  transition: all 0.3s ease-in;
  z-index: 10;
}

.nav__container {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  border-radius: 0 0 2px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.nav--shadow {
  height: 75px;
  box-shadow: 0 1px 24px 12px rgb(255 255 255 / 10%);
}

.nav__logo {
  font-size: 40px;
}

.nav__links-list {
  display: flex;
  list-style: none;
}

.nav__list-item {
  margin: 0 32px;
}

.nav__link {
  color: var(--white);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.4s ease;
}

.nav__link--active {
  border-bottom: 3px solid var(--dark-blue);
}

/* About */
.about {
  width: 100%;
  height: 100vh;
}

.about__container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
}

.about__name {
  font-size: 24px;
  margin-bottom: 16px;
}

.about__name--blue {
  font-size: 60px;
  color: var(--dark-blue);
}

.about__bio {
  line-height: 2;
  padding-right: 10%;
}

.btn {
  text-decoration: none;
  padding: 8px 14px;
  color: var(--white);
  font-weight: bolder;
  background-color: transparent;
  transition: all 0.4s ease;
  border: 2px rgb(0, 51, 95) solid;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--dark-blue);
}

/* Projects */
.projects {
  width: 100%;
  height: calc(100vh + 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
}

.projects__container {
  width: 100%;
  height: calc(100% - 160px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.projects__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  width: 425px;
  height: 320px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.project__title {
  text-align: center;
  text-align: center;
  color: var(--white);
  font-size: 24px;
  margin-bottom: 8px;
}

.project__image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.project__description {
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.4s ease;
}

.project__image-container:hover > .project__description {
  transform: translateY(-100%);
}

.buttons {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-evenly;
}

/* Images */
.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contact */
.contact {
  width: 100%;
  height: calc(100vh - 70px);
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__text {
  font-size: 50px;
  color: var(--white);
  text-align: center;
}

.contact__mail-link {
  color: var(--dark-blue);
  font-size: 50px;
}

/* Footer */
.footer {
  width: 100%;
  height: 70px;
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.footer__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.footer__copyright {
  font-size: 16px;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__mail-link,
.footer__github-link,
.footer__linkedin-link {
  margin: 0 18px;
  font-size: 18px;
  color: var(--white);
  transition: color 0.3s ease;
}

.footer__mail-link:hover,
.footer__github-link:hover,
.footer__linkedin-link:hover {
  color: var(--dark-blue);
}
